<div id="#instantSearch" class="instantSearch">
    <!-- Initialize a new AngularJS app and associate it with a directive named "instantSearch"-->
    <div class="bar">
        <!-- Create a binding between the searchString model and the text field -->
        <input type="text" ng-model="searchString" placeholder="Enter your search terms" />
    </div>
        
    <ul>
        <!-- Render a li element for every entry in the items array. 
        Notice the custom search filter "searchFor". 
        It takes the value of the searchString model as an argument. -->
        <li ng-repeat="i in items | searchFor:searchString">
            <a href="{{i.url}}">
                <img ng-src="{{i.image}}" />
            </a>
            <p>{{i.DisplayName}}</p>
        </li>
    </ul>            
</div>