<section id="features_area" class="section_padding text-center">    
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<h2>Features you’ll love</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<div class="single_feature wow slideInUp" data-wow-duration="1s">
					<i class="fa fa-user"></i>
					<h3>Personal touch</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam volutpat purus in ferment uectetur tortor id, pharetra lorem.
					</p>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="single_feature wow slideInUp" data-wow-duration="2s">
					<i class="fa fa-flag"></i>
					<h3>Personal touch</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam volutpat purus in ferment uectetur tortor id, pharetra lorem.
					</p>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="single_feature wow slideInUp" data-wow-duration="3s">
					<i class="fa fa-paint-brush"></i>
					<h3>Personal touch</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam volutpat purus in ferment uectetur tortor id, pharetra lorem.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>