div#sideNavBox {
    display: none;
}

div#contentBox {
    margin-left: 20px;
}

.test-title-area {
    font-size: 11;
}


.test-input-area {
    font-size: 11;
	font-family: Arial, Tahoma;
}

.test-desktop-aisha {
	font-size: 18px;
    font-weight: 300
}