<section id="caal_to_action_area">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="call_to_action_text wow slideInLeft" data-wow-duration="2s">
                    <h2>Are you ready to go?</h2>
                    <p>Here the call to action area. Lorem ipsum dolor sit amet and click to the button</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="call_project text-right wow slideInRight" data-wow-duration="2s">
                    <a href="">Start your project</a>
                </div>
            </div>
        </div>
    </div>
</section>