<section id="blog_area" class="section_padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="single_blog wow slideInUp" data-wow-duration="2s">
                    <img class="img-responsive" ng-src="{{blogs[0].image}}" alt="">
                    <h2 ng-bind="blogs[0].title"></h2>
                    <div class="comment_area fix">
                        <div class="date floatleft">
                            <p><span><i class="fa fa-calendar-o"></i></span>{{ blogs[0].created }}</p>
                        </div>
                        <div class="comment floatright">
                            <p><span><i class="fa fa-comments"></i></span>{{ blogs[0].commentsCount }} &nbsp comments</p>
                        </div>
                    </div>
                    <p ng-bind="blogs[0].summary"></p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="single_blog wow slideInUp" data-wow-duration="3s">
                    <img class="img-responsive" ng-src="{{ blogs[1].image }}" alt="">
                    <h2 ng-bind="blogs[1].title"></h2>
                    <div class="comment_area fix">
                        <div class="date floatleft">
                            <p><span><i class="fa fa-calendar-o"></i></span>{{ blogs[1].created }}</p>
                        </div>
                        <div class="comment floatright">
                            <p><span><i class="fa fa-comments"></i></span>{{ blogs[1].commentsCount }} &nbsp comments</p>
                        </div>
                    </div>
                    <p ng-bind="blogs[1].summary"></p>                    
                </div>
            </div>
            <div class="col-sm-4">
                <div class="single_blog wow slideInUp" data-wow-duration="3s">
                    <img class="img-responsive" ng-src="{{ blogs[2].image }}" alt="">
                    <h2 ng-bind="blogs[2].title"></h2>
                    <div class="comment_area fix">
                        <div class="date floatleft">
                            <p><span><i class="fa fa-calendar-o"></i></span>{{ blogs[2].created }}</p>
                        </div>
                        <div class="comment floatright">
                            <p><span><i class="fa fa-comments"></i></span>{{ blogs[2].commentsCount }} &nbsp comments</p>
                        </div>
                    </div>
                    <p ng-bind="blogs[2].summary"></p>
                </div>
            </div>
        </div>
    </div>
</section>