<section id="blog_area" class="section_padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="single_blog wow slideInUp" data-wow-duration="2s">
                    <img class="img-responsive" src="/Style%20Library/apps/aisha/images/1.jpg" alt="">
                    <h2>Cache Invalidation StrategiesWith Varnish Cache</h2>
                    <div class="comment_area fix">
                        <div class="date floatleft">
                            <p><span><i class="fa fa-calendar-o"></i></span> March 4, 2014</p>
                        </div>
                        <div class="comment floatright">
                            <p><span><i class="fa fa-comments"></i></span>2 comments</p>
                        </div>
                    </div>
                    <p>Shortly thereafter, I was working with RetailMeNot, tasked with designing its iOS and Android app tutorial. The product team wanted to make sure hat users were clear about the value</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="single_blog wow slideInUp" data-wow-duration="3s">
                    <img class="img-responsive" src="/Style%20Library/apps/aisha/images/2.jpg" alt="">
                    <h2>Cache Invalidation StrategiesWith Varnish Cache</h2>
                    <div class="comment_area fix">
                        <div class="date floatleft">
                            <p><span><i class="fa fa-calendar-o"></i></span> March 4, 2014</p>
                        </div>
                        <div class="comment floatright">
                            <p><span><i class="fa fa-comments"></i></span>2 comments</p>
                        </div>
                    </div>
                    <p>Shortly thereafter, I was working with RetailMeNot, tasked with designing its iOS and Android app tutorial. The product team wanted to make sure hat users were clear about the value</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="single_blog wow slideInUp" data-wow-duration="3s">
                    <img class="img-responsive" src="/Style%20Library/apps/aisha/images/3.jpg" alt="">
                    <h2>Cache Invalidation StrategiesWith Varnish Cache</h2>
                    <div class="comment_area fix">
                        <div class="date floatleft">
                            <p><span><i class="fa fa-calendar-o"></i></span> March 4, 2014</p>
                        </div>
                        <div class="comment floatright">
                            <p><span><i class="fa fa-comments"></i></span>2 comments</p>
                        </div>
                    </div>
                    <p>Shortly thereafter, I was working with RetailMeNot, tasked with designing its iOS and Android app tutorial. The product team wanted to make sure hat users were clear about the value</p>
                </div>
            </div>
        </div>
    </div>
</section>