<section id="Experience_area" class="section_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="experience wow slideInLeft">
                    <h2>Our Experience</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam volutpat purus in ferment uectetur tortor id, pharetra lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam volutpat purus in ferment uectetur tortor id, pharetra lorem.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam volutpat purus in ferment uectetur tortor id, pharetra lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam volutpat purus in ferment uectetur tortor id, pharetra lorem.</p>
                    <a href="">View case studies</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="skills">
                   <h2>Skills</h2>
                    <div class="skill_right">

                        <p>C++ development</p>
                        <div class="progress wow slideInUp">
                            <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                                60%
                            </div>
                        </div>

                        <p>Photoshop</p>
                        <div class="progress wow slideInUp">
                            <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                                60%
                            </div>
                        </div>

                        <p>.Net</p>
                        <div class="progress wow slideInUp">
                            <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                                60%
                            </div>
                        </div>

                        <p>Argular js</p>
                        <div class="progress wow slideInUp">
                            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
                                60%
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>