<section id="Experience_area" class="section_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="experience wow slideInLeft">
                    <h2>My Experience</h2>
                    <p ng-bind="experience.desc1"></p>
                    <p ng-bind="experience.desc2"></p>
                    <a href="">View case studies</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="skills">
                   <h2>Skills</h2>
                    <div class="skill_right" ng-repeat="skill in experience.skills">
                        <p ng-bind="skill.title"></p>
                        <skill-percent skill="skill"></skill-percent>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>