<footer id="footer_area">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="company_logo wow slideInDown">
                    <h2>Vo Duy Anh's Tech Blogs</h2>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="company_address wow slideInDown">
                    <h2></h2>
                    <p></p>
                    <h3></h3>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="company_address wow slideInDown" class="display: none">
                    <h2></h2>
                    <p></p>
                    <h3></h3>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="company_address wow slideInDown">
                    <h2>Ho Chi Minh city</h2>
                    <p></p>
                    <h3>duyanh2005@gmail.com</h3>
                </div>
            </div>
        </div>
    </div>
</footer>