<footer id="footer_area">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="company_logo wow slideInDown">
                    <h2>companyname</h2>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="company_address wow slideInDown">
                    <h2>New York</h2>
                    <p>Address goes here in a one or two lines, maybe lorem ipsum
                    </p>
                    <h3>
                        +44 800 800 90
                        info@domen.com </h3>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="company_address wow slideInDown">
                    <h2>london</h2>
                    <p>Address goes here in a one or two lines, maybe lorem ipsum
                    </p>
                    <h3>
                        +44 800 800 90
                        info@domen.com </h3>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="company_address wow slideInDown">
                    <h2>madrid</h2>
                    <p>Address goes here in a one or two lines, maybe lorem ipsum
                    </p>
                    <h3>
                        +44 800 800 90
                        info@domen.com </h3>
                </div>
            </div>
        </div>
    </div>
</footer>