<header id="header_area">
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<div class="logo">
					<h2>
						<a href="http://laptrinh365.com/Pages/aisha.aspx">Vo Duy Anh's Tech Blogs</a>
					</h2>
				</div>
			</div>
			<div class="col-sm-8">
				<div class="mainmenu">
					<div class="navbar navbar-nobg">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
	
						<div class="navbar-collapse collapse">
							<ul class="nav navbar-nav navbar-right">
								<li><a href="#">Home</a>
								</li>
								<li><a href="#">About</a>
								</li>
								<li><a href="#">blog</a>
								</li>
								<li><a href="#">Portfolio</a>
								</li>
								<li><a href="#">Contact</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="header_area_text">
					<h2 class="wow slideInDown" data-wow-duration="2s" ng-bind="header.slogan"></h2>
					<p class="wow slideInUp" ng-bind-html="header.description"></p>
					<a class="wow slideInUp" data-wow-duration="2s" ng-bind="header.submit.title" ng-href="header.submit.link"></a>
				</div>
			</div>
		</div>
	</div>
</header>